/* wireframe */
* {
  /* outline: 1px solid black; */
}
/* variables */
:root {
  --color-primario: #00ff00;
  --color-secundario: #0ff000;
  --color-claro: #fff;
  --color-oscuro: #000;
  --color-link: #ff0000;
  --color-link-hover: #f00000;
  --altura-header: 75px;
  --altura-seccion: 100vh;
}
/* resets */
body {
  /* background-color: black; */
}
div, section, article, ul, nav {
  height: 100%;
}
a {
  display: block;
  height: 100%;
  width: 100%;
}
ul {
  list-style-type: none;

}
h1, h2, h3, h4, h5, h6 {
  padding: 16px 0 16px 0;
}
form {
  margin-bottom: 16px;
}
.ha {
  height: auto;
}
#main,#info, #ubicacion, #participantes {
  padding-top: var(--altura-header);
}


#menu{
  display: flex;
  justify-content: right;
  align-items:center;
  max-width: 560px;
  margin: 0 auto;
  margin-right: 450px;
  list-style: none;


}

.botones{
    color: white;




}
.botonesdos{
    color: white;
}

.botonestres{
    color: white;
}

.botonescuatro{
    color: white;
}

.botonescinco{
    color: white;
}
.botonesseis{
    color: white;
}

#logo{
    height: inherit;

}
/* header */
header {
  height: var(--altura-header);
  position: fixed;
  z-index: 10000;
  background-color: #f62e46;
  box-shadow: 10px 10px 80px

}
.navbar-brand {
  padding-top: 20px;

}

}
figure img {
  display: block;
  margin: auto;
  height: 100%;
  width: auto;
}
/* body */
#heroscreen, #info, #ubicacion {
  height: var(--altura-seccion);
}
/* heroscreen */
#heroscreen {
  position: relative;
}
.heroscreen_background {
  overflow: hidden;
  position: absolute;
  padding: 0;
  z-index: -1;
}
.heroscreen_background img {
  height: 115%;
  width: 100%;
}
.heroscreen_text {
  position: absolute;
  left: 0;
  z-index: 0;
}
.heroscreen_text h1 {
  font-size: 3em;
  color: white;
  font-weight: 350;

}
.heroscreen_text h3 {

  position: relative;
  top: -30px;
  font-size: 2em;
  font-weight: 400;
  color: white;
}



.boton{
 display: flex;
  justify-content: right;
  align-items:center;
  max-width: 560px;
  margin: 0 auto;
  margin-left: 36%;
  list-style: none;


}


.uno{
    text-decoration:none;
    padding: 20px;
    font-weight: normal;
    font-size: 1em;
    color: #ffffff;
    background-color: #f62e46;
    border-radius: 9px;

}

.uno:hover {
background: rgba(0,0,0,0);
color: #ffffff;
box-shadow: inset 0 0 0 3px #ffffff;

}
.dos:hover {
background: rgba(0,0,0,0);
color: #ffffff;
box-shadow: inset 0 0 0 3px #ffffff;
}


.dos{
    margin-left: 10px;
    text-decoration: none;
    padding: 20px;
    font-weight: normal;
    font-size: 1em;
    color: #ffffff;
    background-color: #f62e46;
    border-radius: 9px;

}


/* info */
/*  */

#info{
    width:auto;
    height: 35vh;
    background: white;
}

#info,h1{
    text-align: center;
    font-size: 1.5em;

}

#info,p{
    margin: 20px;
    text-align:justify;
    font-size: 1.2em;
}

#fotos{
    width: auto;
    height: 43vh;
}


.foto{
    width: 600px;
    height: 40vh;
    margin-left: 16%;
    box-shadow: 10px 2px 15px;
}

.fotodos{
     width: 600px;
    height: 40vh;
    margin-left: 5%;
     box-shadow: 10px 2px 15px;
}


#verde{
    width: auto;
    height: 25vh;
    background-color: #057978;


}

img.color{
    margin-left: -25%;
    margin-top: -70px;


}

.col text-center, h4{
    font-size: 2em;
    margin-top: 20px;

}

.coltexto1{
    font-size: 1em;
    margin-top: 10px;
}

#slider{

    width: auto;
    height: 45vh;

}

.slider {

	width: 40%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 300%;

	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
    height: 45vh;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}


}

footer {
  width: auto;
    height: 6vh;
    background-color: #black


}
.social {
  font-size: 5em;

}

/*appdos*/


.iconos{
    width: 5%;
    height:5vh;
    margin-top: 3%;
}
